<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>bookstore</display-name>
	
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>cn.mengmei.web.filter.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>HtmlFilter</filter-name>
		<filter-class>cn.mengmei.web.filter.HtmlFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HtmlFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	
	
	<servlet>
		<description>
		</description>
		<servlet-name>/manager/CategoryServlet</servlet-name>
		<servlet-class>cn.mengmei.web.manager.CategoryServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>manager/BookServlet</display-name>
		<servlet-name>manager/BookServlet</servlet-name>
		<servlet-class>cn.mengmei.web.manager.BookServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>client/IndexServlet</display-name>
		<servlet-name>client/IndexServlet</servlet-name>
		<servlet-class>cn.mengmei.web.client.IndexServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>client/BuyServlet</display-name>
		<servlet-name>client/BuyServlet</servlet-name>
		<servlet-class>cn.mengmei.web.client.BuyServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>client/SetQuantityServlet</display-name>
		<servlet-name>client/SetQuantityServlet</servlet-name>
		<servlet-class>cn.mengmei.web.client.SetQuantityServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>client/ClearCartServlet</display-name>
		<servlet-name>client/ClearCartServlet</servlet-name>
		<servlet-class>cn.mengmei.web.client.ClearCartServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>client/DeleteServlet</display-name>
		<servlet-name>client/DeleteServlet</servlet-name>
		<servlet-class>cn.mengmei.web.client.DeleteServlet</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>client/OrderServlet</display-name>
		<servlet-name>client/OrderServlet</servlet-name>
		<servlet-class>cn.mengmei.web.client.OrderServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>client/LoginServlet</display-name>
		<servlet-name>client/LoginServlet</servlet-name>
		<servlet-class>cn.mengmei.web.client.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>client/ListOrderServlet</display-name>
		<servlet-name>client/ListOrderServlet</servlet-name>
		<servlet-class>cn.mengmei.web.client.ListOrderServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>client/LogOutServlet</display-name>
		<servlet-name>client/LogOutServlet</servlet-name>
		<servlet-class>cn.mengmei.web.client.LogOutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>client/RegisterServlet</display-name>
		<servlet-name>client/RegisterServlet</servlet-name>
		<servlet-class>cn.mengmei.web.client.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>manager/ListOrderServlet</display-name>
		<servlet-name>manager/ListOrderServlet</servlet-name>
		<servlet-class>cn.mengmei.web.manager.ListOrderServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>manager/LoginServlet</display-name>
		<servlet-name>manager/LoginServlet</servlet-name>
		<servlet-class>cn.mengmei.web.manager.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>manager/DeliverServlet</display-name>
		<servlet-name>manager/DeliverServlet</servlet-name>
		<servlet-class>cn.mengmei.web.manager.DeliverServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>manager/OrderDetailServlet</display-name>
		<servlet-name>manager/OrderDetailServlet</servlet-name>
		<servlet-class>cn.mengmei.web.manager.OrderDetailServlet</servlet-class>
	</servlet>
  
  <servlet>
    <servlet-name>client/ActiveServlet</servlet-name>
    <servlet-class>cn.mengmei.web.client.ActiveServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>client/PayServlet</display-name>
  	<servlet-name>client/PayServlet</servlet-name>
  	<servlet-class>cn.mengmei.web.client.PayServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>client/PayBackServlet</display-name>
  	<servlet-name>client/PayBackServlet</servlet-name>
  	<servlet-class>cn.mengmei.web.client.PayBackServlet</servlet-class>
  </servlet>

	
	
	
	
	<servlet-mapping>
		<servlet-name>/manager/CategoryServlet</servlet-name>
		<url-pattern>/manager/CategoryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>manager/BookServlet</servlet-name>
		<url-pattern>/manager/BookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>client/IndexServlet</servlet-name>
		<url-pattern>/client/IndexServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>client/BuyServlet</servlet-name>
		<url-pattern>/client/BuyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>client/SetQuantityServlet</servlet-name>
		<url-pattern>/client/SetQuantityServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>client/ClearCartServlet</servlet-name>
		<url-pattern>/client/ClearCartServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>client/DeleteServlet</servlet-name>
		<url-pattern>/client/DeleteServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>client/OrderServlet</servlet-name>
		<url-pattern>/client/OrderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>client/LoginServlet</servlet-name>
		<url-pattern>/client/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>client/ListOrderServlet</servlet-name>
		<url-pattern>/client/ListOrderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>client/LogOutServlet</servlet-name>
		<url-pattern>/client/LogOutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>client/RegisterServlet</servlet-name>
		<url-pattern>/client/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>manager/ListOrderServlet</servlet-name>
		<url-pattern>/manager/ListOrderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>manager/LoginServlet</servlet-name>
		<url-pattern>/manager/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>manager/DeliverServlet</servlet-name>
		<url-pattern>/manager/DeliverServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>manager/OrderDetailServlet</servlet-name>
		<url-pattern>/manager/OrderDetailServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>client/ActiveServlet</servlet-name>
    <url-pattern>/client/ActiveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>client/PayServlet</servlet-name>
  	<url-pattern>/client/PayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>client/PayBackServlet</servlet-name>
  	<url-pattern>/client/PayBackServlet</url-pattern>
  </servlet-mapping>
	
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
